* {
  padding: 0px;
  margin: 0px;
  font-size: 1.08em;
}

#container {
  display: flex;
  flex-direction: column;
}

p, span, div, input {
  font-family: 'Amatic SC', cursive;
}

#feedbackContainer {
  display: flex;
  flex-direction: row;
}

#right, #left {
  flex-grow: 8;
}

#hideScrollbar {
  flex-grow: 8;
  overflow: hidden;
  height: 95vh;
  display: flex;
  flex-direction: column;
}

#feedbackwindow {
  background-color: rgba(139, 201, 228, 0.658);
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: auto;
  scroll-behavior: smooth;
  margin-right: 14px;
  padding-right: 28px;
  padding-bottom: 15px;
}

.feedback {
  float: left;
  background-color: rgb(12, 77, 129);
  color: white;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  max-width: 1000px;
  padding: 5px;
  margin: 5px;
}

.question {
  float: right;
  background-color: rebeccapurple;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  max-width: 800px;
  padding: 5px;
  margin: 5px;
}

.initial {
  margin-top: 30px;
}

.last {
  margin-bottom: 30px;
}

#footer {
  /* position: fixed; */
  /* bottom: 0; */
  margin-bottom: 30px;
  width: 100%;
  background-color: #8bcae4;
}

#textEntryBoxDiv {
  display: flex;
  flex-direction: row;
}

#inputForm {
  flex-grow: 3;
}

#textInput {
  width: 100%;
  box-shadow: none;
  appearance: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.02em;
}

#toggleButton {
  text-align: center;
  padding: 2px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.02em;
}

#toggleButtonDiv {
  flex-grow: 1;
}

#toggleButton:hover {
  cursor: pointer;
}

#toggleButtonDiv:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  #textEntryBoxDiv {
    flex-direction: column;
  }

  #inputForm {
    flex-grow: 1;
    font-size: 0.9em;
  }

  #hideScrollbar {
    height: 90vh;
  }
}
