* {
  padding: 0;
  margin: 0;
}

#container {
  display: flex;
  flex-direction: column;
}

p, span, div {
  font-family: 'Open Sans', sans-serif;
}

.toggleButtonDiv {
  margin: auto;
  display: flex;
  justify-content: center;
}

#toggleButton {
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  background-color: #9bdfdd;
}

#toggleButton:hover {
  cursor: pointer;
}

#toggleButtonDiv:hover {
  cursor: pointer;
}

#feedbackwindow {
  display: flex;
  flex-direction: column;
  margin-left: 250px;
  margin-right: 250px;
  max-width: 1000px;
  height: 90vh;
}

.feedback {
  float: left;
  text-align: left;
  background-color: blue;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  max-width: 600px;
  padding: 5px;
}

.question {
  float: right;
  text-align: right;
  background-color: rebeccapurple;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  max-width: 600px;
  padding: 5px;
}

#footer {
  background-color: red;
  height: 10vh;
  padding-bottom: 0px;
  margin-bottom: 0px;
}